.block{
}

.block__header,
.block__content{

}

.block__header{
	background-color: var(--color-black);
	color: white;
	text-align: center;
	user-select: none;
	line-height: 3;
	position: relative;
	letter-spacing: .05em;
	overflow: hidden;
	transition: all .4s ease;
}

.block__title{
	text-transform: uppercase;
}

.block__caption{
	color: var(--color-caption);
}

.block__icon{
	position: absolute;
	text-align: center;
	top: 4em;
	display: inline-block;
	font-size: 1em;
	width: 1em;
	color: inherit;
	line-height: 1;

	transition: all .25s ease;
	opacity: .5;
}

.block__content-container{
	max-height: 10em;
	overflow: hidden;
	transition: max-height .4s ease .25s;
}

.block__content{
	padding: 1em 0;
}

.block{
	&.closed{

		& .block__header{
			cursor: pointer;
			line-height: 6;
		}

		& .block--icon{
			opacity: 0;
		}

		& .block__content-container{
			max-height: 0;
		}
	}	
}
