.block{
}

.block__header,
.block__content{

}

@keyframes iconOpen {
    0% {transform: translateY(0)}
    50% {transform: translateY(50%)}
    100% {transform: translateY(0%)}
}

.block__header{
	background-color: var(--color-black);
	color: white;
	text-align: center;
	user-select: none;
	line-height: 3;
	position: relative;
	letter-spacing: .05em;
	overflow: hidden;
	transition: all .4s ease;

	&:hover{
		& .block__icon{
			animation-name: iconOpen;
			animation-duration: 1s;
			animation-iteration-count: 2;
			animation-timing-function: ease-out;
		}
	}
}

.block__title{
	text-transform: uppercase;
}

.block__caption{
	color: var(--color-caption);
}

.block__icon{
	position: absolute;
	text-align: center;
	top: 4em;
	display: inline-block;
	font-size: 1em;
	width: 1em;
	color: inherit;
	line-height: 1;

	transition: all .25s ease;
	opacity: .5;
}

.block__content-container{
	max-height: 100em;
	overflow: hidden;
	transition: max-height .4s ease .25s;
}

.block__content{

}

.block__text{
	padding: 1em 0;
}

.block__text iframe{
	margin-top: -1em;
}

.block{

	&.closed{

		& .block__header{
			cursor: pointer;
			line-height: 6;
		}

		& .block--icon{
			opacity: 0;
		}

		& .block__content-container{
			max-height: 0;
		}
	}

	&.block--permanent{

		& .block__header{
			line-height: 3 !important;
		}

		& .block--icon{
			opacity: 0 !important;
		}


		& .block__content-container{
			max-height: 100em !important
		}
	}
}

@media (--minimal-viewport) {

	.block__header{
		padding: .5em 0;
	}

	.block__title{
		line-height: 2;
	}
}
