.carousel{
	@util aspect-ratio(3:2);
	position: relative;
}

.carousel__list{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: var(--color-black);
}

.carousel__item{
	float: left;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size: cover;
}