.definitions{
	position: relative;
	overflow: hidden;
}

.definitions__list,
.definitions__info{
	display: inline-block;
	float: left;
	min-height: 10em;
}

.definitions__list{
	background-color: var(--color-black);
	color: white;
	overflow: hidden;
	padding: 1em;
	width: 60%;

	float: left;
}

.definitions__title,
.definitions__description{
	display: inline-block;
	float: left;
	width: 50%;
	padding: 0 .5em;
}

.definitions__title{
	text-align: right;
}

.definitions__description{
	
}

.definitions__spacer{
	margin-top: 1em;
}

.definitions__info{
	width: 40%;
	border: 2px solid  var(--color-black);
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 1em;

	float: right;
}


@media (--minimal-viewport) {
	.definitions__list,
	.definitions__info{
		display: block;
		float: none;
		position: relative;
		width: auto;
	}
}