.navigation{
	&--site{
		& .navigation__item{
			margin: 0 .5em;
		}

		& .navigation__label{
			position: relative;

		    &:after{
		        content: '';
		        display: block;
		        position: absolute;
		        top: 100%;
		        left: -1%;
		        right: 1%;
		        height: 1px;
		        width: 0%;
		        background: currentColor;
		        transition: width .5s ease;
		        opacity: .75;
		        margin: 0 auto;
	            margin-top: 0.2em;
		    }

		    &:hover{
				&:after{
					width: 100%;
				}
		    }
		}
	}
}