<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.6.0/parsley.min.js"></script>

<section class="section content__section contact">

	<div class="contact__nav">
		<div class="contact__back">
			<a href="index.html">Home</a>
		</div>
	</div>
	
	<header class="contact__header">
		<div class="section__icon">
			{% include 'components/_scribble-down.twig' %}
		</div>
		<h1 class="title title--large">CONTACT NAAR WENS</h1>
	</header>

	<div class="contact__section">
		<p>
			<a href="">Bel direct</a> Met de projectontwikkelaar van landgoed Maetland
			<a href="" class="label">HANS VERHEIJ - 06 12 345 678</a>
		</p>
	</div>

	<div class="contact__section contact__section--simple">
		<div class="title title--large">OF</div>
	</div>


	<div class="contact__section">
		<p>Kies zelf een geschikt moment</p>
		
		<form  data-parsley-validate="" class="contact__form" id="contact" name="contact" method="post" action="email_form.php">
			<label class="contact__label">
				<span class="contact__form-title">naam<span>*</span></span>
				<span class="contact__input-container">
					<input class="contact__input" type="text" name="name" required="" data-parsley-no-focus data-parsley-error-message="Vergeet uw naam niet"/>
				</span>
			</label>

			<label class="contact__label">
				<span class="contact__form-title">tel.nr<span>*</span></span>
				<span class="contact__input-container">
					<input class="contact__input" type="text" name="telephone" required="" data-parsley-no-focus data-parsley-error-message="Vergeet uw telefoon nummer niet!"/>
				</span>
			</label>

			 <label class="contact__label">
				<span class="contact__form-title">e-mail<span>*</span></span>
				<span class="contact__input-container">
					<input class="contact__input" type="email" name="email" required="" data-parsley-no-focus data-parsley-error-message="Vergeet uw email adres niet!"/>
				</span>
			</label>

			<br/>
			<label class="" for="time">
				<p>U KUNT HIERONDER AANGEVEN OP <span class="underline">WELKE DAG EN TIJDSTIP</span> U TERUGGEBELD WILT WORDEN<span>*</span></p>
			</label>

			 <div class="contact__label contact__label--textarea">
				<textarea id="time" class="contact__textarea" name="comment" rows="8" required="" data-parsley-no-focus data-parsley-error-message="Wanneer wilt u teruggebeld worden?"></textarea>
			</div>

			<button class="contact__submit" type="submit" form="contact" value="Submit">
				<span class="contact__submit-label">Verstuur</span>
				<span class="contact__submit-icon">
					{% include 'components/_chevron-right.twig' %}
				</span>
			</button>

		</form>
	</div>
	
</section>

<script>
	$(function () {
		var $form = $('#contact');

		$form.find('input').on('focus', function(){
			var $parent = $(this).parent();
			var $errorMessage = $parent.find('.parsley-errors-list');
			$errorMessage.hide();
		});

		$form.find('input').on('blur', function(){
			var $parent = $(this).parent();
			var $errorMessage = $parent.find('.parsley-errors-list');
			$errorMessage.show();
		});

	  	$form.parsley().on('field:validated', function() {
	    	var ok = $('.parsley-error').length === 0;
	    	$('.bs-callout-info').toggleClass('hidden', !ok);
	    	$('.bs-callout-warning').toggleClass('hidden', ok);
	  	})
	  	.on('form:submit', function() {
		  	var formAction = $form.attr('action');
		  	$.post( formAction, $form.serialize())
			 .done(function( data ) {
			   $form.toggleClass('contact__form--success', true);
			});
		    return false;
	  });
	});
</script>