<div class="images page__images content__item" id={{block.id}}>
	
	<div class="images__header  title title--large">
		
		<a href="#top" class="section__back" style="display: none" data-js="section-back">
			{% include 'components/_scribble-top.twig' %}
		</a>
		<div class="section__icon">
			{% include 'components/_scribble-down.twig' %}
		</div>
		<div class="section__title">{{block.content.attributes.title}}</div>
	</div>

	<ul data-js="images" class="images__container">
		<div class="images__sizer"></div>
		{% for image in block.images %}
			<li class="images__item">
				<img src="{{image}}?c={{version}}"/>
			</li>
		{% endfor %}
	</ul>
</div> 
