<div data-js="images" class="images page__images content__item">
	<div class="images__sizer"></div>
	{% for image in images %}
		<div class="images__item">
			<img src="{{image}}"/>
		</div>
	{% endfor %}
</div> 
