<svg style="display:none;">
  <defs>
    <g id="chevron-right">
		<path  style="fill:currentColor;stroke:none;transform:rotate(-90deg);transform-origin: center center;" d="M0 307.2c0-6.552 2.499-13.102 7.499-18.101 9.997-9.998 26.206-9.998 36.203 0l442.698 442.698 442.699-442.698c9.997-9.998 26.206-9.998 36.203 0s9.998 26.206 0 36.203l-460.8 460.8c-9.997 9.998-26.206 9.998-36.203 0l-460.8-460.8c-5-5-7.499-11.55-7.499-18.102z"></path>
    </g>
    <g id="chevron-left" >
		<path  style="fill:currentColor;stroke:none;transform:rotate(90deg);transform-origin: center center;" d="M0 307.2c0-6.552 2.499-13.102 7.499-18.101 9.997-9.998 26.206-9.998 36.203 0l442.698 442.698 442.699-442.698c9.997-9.998 26.206-9.998 36.203 0s9.998 26.206 0 36.203l-460.8 460.8c-9.997 9.998-26.206 9.998-36.203 0l-460.8-460.8c-5-5-7.499-11.55-7.499-18.102z"></path>
    </g>
  </defs>
</svg>

<div data-js="moodboard" class="moodboard moodboard--maximize">

	<div class="moodboard__header">
		<a class="moodboard__logo-link" href="/">
			<img class="moodboard__logo" src="./images/maetland-logo.svg" alt="">
		</a>
		<div class="moodboard__caption title">
			Scroll en ontdek
		</div>
		<a href="/" class="moodboard__back title">
			Terug
		</a>
	</div>

	<div class="moodboard__info">
		<ul class="moodboard__info-list">
			{% spaceless %}
				{% for page in pages %}
					<li class="moodboard__info-item title {% if loop.first %}show{% endif %}">
						<a class="moodboard__info-link" href="#{{page.attributes.id}}">{{page.attributes.title}}</a>
					</li>
				{% endfor %}
			{% endspaceless %}
		</ul>
	</div>
	
	<ul class="moodboard__list">
		
		{% for page in pages %}
			<li class="moodboard__item" style="background-image:url('{{page.attributes.images|first}}')" data-id="{{page.attributes.id}}"></li>
		{% endfor %}

	</ul>

	<a href="#content" data-js="scroll-trigger" class="moodboard__scroll">
		{% include 'components/_scribble-right.twig' %}
	</a>

</div>