<div data-js="moodboard" class="moodboard moodboard--maximize">

	<div class="moodboard__header">
		<div class="moodboard__caption">
			Scroll en ontdek
		</div>
	</div>

	<div class="moodboard__info">
		<ul class="moodboard__info-list">
			{% spaceless %}
				{% for page in pages %}
					<li class="moodboard__info-item {% if loop.first %}show{% endif %}">
						{{page.attributes.caption}}
					</li>
				{% endfor %}
			{% endspaceless %}
		</ul>
	</div>
	
	<ul class="moodboard__list">
		
		{% for page in pages %}
			<li class="moodboard__item" style="background:{{page.attributes.background}}" data-id="{{page.attributes.id}}">
			</li>
		{% endfor %}

	</ul>

	<a href="#content" data-js="scroll-trigger" class="moodboard__scroll">
		<span class="fa fa-chevron-circle-down"></span>
	</a>

</div>