<nav  data-js="nav-site" class="navigation navigation--site {{modifiers}}">
	<ul class="navigation__list">
		{% for item in navigation.site %}
			<li class="navigation__item {% if item.id == 'projects' %}navigation__item--projects{% endif %}" data-mode="{{item.id}}">
				<a href="{{url}}" class="navigation__link">
					<span class="navigation__label">{{item.label}}</span>
				</a>
			</li>
		{% endfor %}
	</ul>
</nav>