{% set page_modifier = 'page--home' %}

{% extends "layouts/_site.twig" %}

{% block main %}

	<div data-js="content" class="content" id="content">
		
		{% for page in pages %}
			<section class="section page__section {% if loop.first %} active {% endif %}" id="{{page.attributes.id}}">

				<header class="section__header">
					<h{{loop.index}}  class="section__title">{{page.attributes.title}}</h{{loop.index}}>
				</header>

				{% for block in page.attributes.sections %}
					{% embed "components/_block.twig" with {"content": block, "modifiers": "", "index": 0, "id": "" }  %}
					{% endembed %}
				{% endfor %}
			</section>
		{% endfor %}
	
	</div>

{% endblock %}

{# Somehow placing this block above the main block does not work? Weird.. #}
{% block header %}
	{% include "components/_moodboard.twig" with {"pages": pages} %}
{% endblock %}