/* Using ITCSS, see https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/ */
@import "settings/**/*.css";
@import "tools/**/*.css";
@import "generic/**/*.css";
@import "elements/**/*.css";
@import "objects/**/*.css";
@import "components/**/*.css";
@import "trumps/**/*.css";