.content{
	padding: 2em 0;
	margin: 0 auto;
	width: 66%;
	max-width: 75em;
	overflow: hidden;
}

/*.js .content__section{
	opacity: 0;
	margin: 0;
	height: 0;
	transform: translateY(-100%);
	transition: all ease .5s;

	&.active{
		opacity: 1;
		height: auto;
		transform: translateY(0);
	}
}*/
