.page{
	overflow: hidden;
}

.page__header{
	@util aspect-ratio(4:1);
	transition: padding-bottom ease 1s;

	&.header--full{
		padding-bottom: 100vh;
	}
}

.page__footer{
}


.js .page__header{
}

.js  .page__main{
}

.js .page--detail{
	overflow: auto;
}

.js .page--detail .page__header{
	position: relative;
}