.page{
}

.page__header{
	@util aspect-ratio(4:1);
	transition: padding-bottom ease 1s;

	&.header--full{
		padding-bottom: 100vh;
	}
}

.page__footer{
}

html.js,
.js .page{
	overflow: hidden;
}

.js .page__header{
}

.js .page__main{
}

.js.html--detail,
.js .page--detail{
	overflow: auto;
}

.js .page--detail .page__header{
	position: relative;
}

@media (--minimal-viewport) {
	html.js,
	.js .page{
		overflow: visible;
	}
}