.section{
	margin: 5em;
}


.section__icon{
	width: 3.5em;
	text-align: center;
	margin: 0 auto;
	margin-bottom: .5em;
}

.section__header{
	text-align: center;
}

.section__title{
}

@media (--small-viewport) {
	.section{
		margin: 0;
	}
}
